@import "partials/_functions.scss";

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	font-size: 100%;
}
body {
	background: #FFFFFF;
	color: #000000;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	position: relative;
	cursor: auto;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
ul, ol, dl {
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	list-style-position: inside;
	font-family: inherit;
}
ul {
	margin-left: 1.1rem;
}
.main-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: rem-calc(1200px);
}
.column, .columns {
	position: relative;
	padding-left: rem-calc(15px);
	padding-right: rem-calc(15px);
	float: left;
}
.full {
	width: 100%;
}
[class*="lista-bloque-"] {
	display: block;
	padding: 0;
	margin: 0 -0.625rem;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
	& > li {
		display: block;
		height: auto;
		float: left;
		padding: 0 0.625rem 1.25rem;
	}
}
.lista-bloque-tres {
	& > li {
		width: 33.33333%;
		list-style: none;
	}
	& > li:nth-of-type(1n) {
		clear: none;
	}
	& > li:nth-of-type(3n+1) {
		clear: both;
	}
}


//Ejemplo
.lista-de-videos {
	margin-top: 2rem;
}